/* The first line contain the universal selector. This selects all of the elements in this file to share these styles  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* The element selectors select all of the CSS styles for that specific element  */
body {
    /* This adds the selected color to the element. */
    background-color: #d9dcd6; 
}

header {
    /* Padding tag is used to create space around the elements content. Sets the space at the top of the navigation content. */
    padding: 20px;
    /* This refers to the font of the text that will appear on the web page, depending on the browser.  */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    /* Sets the colour of the header */
    color: #ffffff;
    
}

h1 {
    /* This generates boxes that are in line with each other. Allows other elements to sit next to each other. */
    display: inline-block;
    font-size: 48px;
}


nav {
    padding-top: 15px;
    /* Margin tag is used to create space around the element. This sets space at the right of the navigation element.  */
    margin-right: 20px;
    /* This sets where the element will appear on the webpage. */
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* This changes the size of the text on the navigation header */
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}